
.board{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 80px 0 80px;
}

.center { 
  justify-content: center;
  align-items: center;
}

.points {
  display: flex;
  font-size: 0.85rem;
  max-width: var(--max-width);
  z-index: 2;
  font-family: var(--font-mono);
  padding-top: 2rem;
  padding-left: 60px;
  gap: 10px;
}

.points p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.description {
  display: flex;
  font-size: 0.85rem;
  max-width: var(--max-width);
  z-index: 2;
  font-family: var(--font-Ubuntu);
  padding-top: 1rem;
  padding-left: 60px;
  gap: 10px;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.card {
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 2rem ;
  border-radius: 10px;
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  transform: translateZ(0);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
  cursor: pointer;
  background: rgba(var(--card-rgb), 0.5);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 0.8rem;
  font-size: 35px;
  font-family: var(--font-mono);
  color: white;
}

.card h4,.card h3 {
  text-align: center;
  font-weight: 200;
  margin-bottom: 0.2rem;
  font-size: 15px;
  font-family: var(--font-mono);
  color: whitesmoke;
}
.card h3 {
  margin-top: 50px;
  font-weight: 800;
  font-size: 1.85rem;
}

.card p {
  text-align: center;
  margin: 1;
  opacity: 0.8;
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 60ch;
  margin-bottom: 0.2rem;
  font-family: var(--font-mono);
  
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  border-radius: 48px;
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  transform: translateZ(0);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
  cursor: pointer;
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.button::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.button::after {
  inset: 0;
  padding: 1px;
  border-radius: 48px;
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    box-shadow: 0px 8px 8px -1px #0000001a;
  }
  .button:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .button::before{
    animation: none;
  }

  .button:hover span {
    transform: none;
  }
}

.vercelLogo{
  filter: invert(1);
}
@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(00deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .card h4 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}
